{
"properties": [		
{ "name": "nodered-deployerapp", "value": "1" },
{ "name": "nodered-deployernode", "value": "edgelab01" },
{ "name": "nodered-deployment", "value": "edgelab01" },
],
"constraints": []
}
