{
"properties": [		
{ "name": "nodered-deployerapp", "value": "1" },
{ "name": "nodered-deployernode", "value": "edgenode03" },
{ "name": "nodered-deployment", "value": "edgenode03" },
],
"constraints": []
}
